article{
    width: 17vw;
    height: 15em;
    display: inline-block;
    position: relative;
    z-index: 20;

}

.l-list{
    position: relative;
    top: 2em;
    width: 82.5vw;
    min-width: 40rem;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 10;
    left: 17.5vw;
}