.blur{
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 20rem;
    background-color: rgba(255,255,255,0.5);
    content: "";
    z-index: 40;
}

.arrow-next{
    position: absolute;
    top: 10rem;
    right: 2%;
    height: 100%;
    z-index: 50;
}

.box-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17em;
    border-right: 2px solid aqua;
    border-radius: 0.5em;
    overflow: hidden;
    background: linear-gradient(to right, rgba(255,255,255,0) 90%, rgb(255,255,255));
    z-index: 50;
}

.box-products{
    position: relative;
    left: 0;
    top: 0;
    width: 17vw;
    z-index: 90;
}

.col.w-left{
    width: 17vw;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: aqua;
    z-index: 100;
}
.header .col{
    display: inline-block;
    margin: 0.5em 0em 0.5em 0.5em;
    
}